html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-color;
    color: $font-color;
    font-family: $font-family;
}

header {    
    @include header;
}

main {
    @include main;
}

@media only screen and (max-width: $layout-mobile-breakpoint) {
    main {
        @include main-mobile;
    }
}

@media only screen and (max-width: $layout-tablet-breakpoint) and (min-width: $layout-mobile-breakpoint) {   
    main {    
        @include main-tablet;
    } 
}

@media only screen and (min-width: $layout-tablet-breakpoint) {
    main {
        @include main-desktop;
    }
}

.section-title {
    @include section-title;
}

