@mixin html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;    
}

@mixin body {
    background-color: $bg-color;
    color: $font-color;
    font-family: $font-family;
}

@mixin header {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 6rem;
    z-index: 99;
    background-color: $bg-color;
    display: flex;
    flex: 1;
    flex-flow: row nowrap;
    justify-content: space-between; 

    div {
        padding: .7rem 1rem;   
    }

    .header-logo {
        display: flex;
        align-items: center; 

        img {
            margin: .5rem 0 0 1.5rem;
            width: 5rem;
        }
    }

    .header-buttons {    
        display: flex;
        align-items: center; 

        div:hover {
            cursor: pointer;
            border-radius: 5%;
            background-color: $font-color;
            color: $bg-color;
        }
    } 
}


@mixin main {
    display: flex;
    flex: 1;
    flex-flow: column;

    position: relative;
    top: 5.5rem;

    height: 80vh;

    .top {
        display: flex;
        flex: 1;
    }

    .first, .second {
        display: flex;
        flex: 1;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }

    .top-item img {
        width: 225px;

        &:hover{
            transform: rotate(-2deg);
            transition: transform 0.5s ease;
        }
    }

    .item img {
        width: 250px;

        &:hover {
            transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
            transition: transform .4s;
        }
    }
}

@mixin section-title {
    margin-top: 2rem;
    margin-bottom: .7rem;
}

@mixin main-desktop {
    .top {
        flex-flow: row-reverse wrap-reverse;
        justify-content: space-around;    
    }    

    #top-text:after {
        content: "5";
    }
}

@mixin main-tablet {
    .top {
        flex-flow: row-reverse nowrap;
        justify-content: flex-end;    
    }
}

@mixin main-mobile {
    .top, .first, .second {
        flex-flow: column-reverse nowrap;
        justify-content: flex-end;    
        align-items: center;
    }
}

@mixin main-tablet-mobile {
    .top-item:nth-child(-n+2) {
        display: none;
    }
    #top-text:after {
        content: "3";
    }
}