@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");
/* line 1, ../sass/_base.scss */
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* line 5, ../sass/_base.scss */
body {
  background-color: #141414;
  color: #dedede;
  font-family: "Jost";
}

/* line 9, ../sass/_base.scss */
header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 6rem;
  z-index: 99;
  background-color: #141414;
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  justify-content: space-between;
}
/* line 25, ../sass/_mixins.scss */
header div {
  padding: .7rem 1rem;
}
/* line 29, ../sass/_mixins.scss */
header .header-logo {
  display: flex;
  align-items: center;
}
/* line 33, ../sass/_mixins.scss */
header .header-logo img {
  margin: .5rem 0 0 1.5rem;
  width: 5rem;
}
/* line 39, ../sass/_mixins.scss */
header .header-buttons {
  display: flex;
  align-items: center;
}
/* line 43, ../sass/_mixins.scss */
header .header-buttons div:hover {
  cursor: pointer;
  border-radius: 5%;
  background-color: #dedede;
  color: #141414;
}

/* line 13, ../sass/_base.scss */
main {
  display: flex;
  flex: 1;
  flex-flow: column;
  position: relative;
  top: 5.5rem;
  height: 80vh;
}
/* line 63, ../sass/_mixins.scss */
main .top {
  display: flex;
  flex: 1;
}
/* line 68, ../sass/_mixins.scss */
main .first, main .second {
  display: flex;
  flex: 1;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
/* line 75, ../sass/_mixins.scss */
main .top-item img {
  width: 225px;
}
/* line 78, ../sass/_mixins.scss */
main .top-item img:hover {
  transform: rotate(-2deg);
  transition: transform 0.5s ease;
}
/* line 84, ../sass/_mixins.scss */
main .item img {
  width: 250px;
}
/* line 87, ../sass/_mixins.scss */
main .item img:hover {
  transform: scale(1.1);
  /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  transition: transform .4s;
}

/* line 17, ../sass/_base.scss */
.section-title {
  margin-top: 2rem;
  margin-bottom: .7rem;
}

@media only screen and (max-width: 414px) {
  /* line 118, ../sass/_mixins.scss */
  main .top, main .first, main .second {
    flex-flow: column-reverse nowrap;
    justify-content: flex-end;
    align-items: center;
  }
  /* line 126, ../sass/_mixins.scss */
  main .top-item:nth-child(-n+2) {
    display: none;
  }
  /* line 129, ../sass/_mixins.scss */
  main #top-text:after {
    content: "3";
  }
}
@media only screen and (max-width: 1280px) and (min-width: 414px) {
  /* line 111, ../sass/_mixins.scss */
  main .top {
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;
  }
  /* line 126, ../sass/_mixins.scss */
  main .top-item:nth-child(-n+2) {
    display: none;
  }
  /* line 129, ../sass/_mixins.scss */
  main #top-text:after {
    content: "3";
  }
}
@media only screen and (min-width: 1280px) {
  /* line 100, ../sass/_mixins.scss */
  main .top {
    flex-flow: row-reverse wrap-reverse;
    justify-content: space-around;
  }
  /* line 105, ../sass/_mixins.scss */
  main #top-text:after {
    content: "5";
  }
}
